<h2 class="page-header">Controle da Chave</h2>
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}

<ul class="people_list">
  {{#each message}}
    <li>{{this}}</li>
  {{/each}}
</ul>


<form method="post" action="/">
   <div class="form-group">
    <label></label>
    <input type="text" class="form-control" placeholder="Quem estava por último com a chave?" name="controle">
  </div>
   <div class="form-group">
    <label></label>
    <input type="text" class="form-control" placeholder="Onde essa pessoa se encontra?" name="local">
  </div>
  <button type="submit" class="btn btn-default">Submeter</button>
</form>