<h2 class="page-header" style="color: #0f727c; text-align:center;" >Controle da Chave {{subtitle}}</h2>
<div>
<ul class="people_list">
  {{#each message}}
        <section class="section-spacing text-center" id="features">
         <div class="container">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-md-12">
                     <ul class="timeline">
                        <li class="timeline-inverted wow bounceInUp">
                           <div class="timeline-badge danger"><i class="fa fa-crosshairs"></i></div>
                           <div class="timeline-panel">
                              <div class="timeline-heading">
                                 <h6 class="timeline-title">{{this}}</h6>
                              </div>
                              <div class="timeline-body">
                              </div>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </section>
      {{/each}}
</div>
<a href="/key">
   <button  class="btn btn-default" style="float: right; background-color: #0f727c; color: white">Estou com a chave</button>
</a>
